@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #f6f2f2;
}

.hi {
  background-color: #f6f2f2;
  width: 100%;
  height: 690px;
}

.container {
  max-width: 1249px;
  margin: 0 auto;
  overflow: hidden;
}

.header__nav {
  margin-top: 30px;
  width: 100%;
  height: 90px;
  background-color: #313030;
  border-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

.header__nav a {
  color: #4c4c4c;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 50px;
  color: #f6f2f2;
  background: #313131;
  padding: 2px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.header__nav a:last-child {
  margin-right: 0px;
}
.header__nav a:hover {
  color: #ff2d2d;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-title {
  font-family: inherit;
  font-size: 60px;
  font-weight: 800px;
  text-transform: uppercase;
}
.header-title:first-child {
  margin-top: 100px;
  margin-bottom: 20px;
}
.header-title:nth-child(2) {
  margin-bottom: 40px;
}
.header-title:last-child {
  margin-bottom: 60px;
}

.header-txt {
  font-size: 16px;
  font-weight: 300;
  color: #4c4c4c;
  width: 519px;
}

.header__body-video {
  margin-top: 100px;
  width: 550px;
  height: 360px;
  background: #c4c0b1;
  -webkit-box-shadow: 0px 0px 20px 0px #565656;
          box-shadow: 0px 0px 20px 0px #565656;
  border-radius: 5px;
  margin-right: 25px;
}

.material-symbols-outlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  color: #f6f2f2;
}

.header-butten {
  font-weight: 600;
  background: #ff2d2d;
  color: #ececee;
  padding: 20px 60px;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-butten:hover {
  -webkit-box-shadow: 0 0 20px 0 #f7b0b0;
          box-shadow: 0 0 20px 0 #f7b0b0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border: 4px #f6f2f2;
}
.header-butten:hover::after {
  opacity: 1;
}

.content {
  height: 690px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.know {
  margin-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #ececee;
  height: 590px;
}

.know__txt {
  width: 502px;
  height: auto;
  margin: 0;
}

.know__text-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 66px;
}

.know__text-txt {
  font-size: 16px;
  color: #4c4c4c;
}

.button-know {
  font-weight: 600;
  font-size: 18px;
  padding: 20px 60px;
  margin-top: 90px;
  background-color: #fff;
  color: #ff3b3b;
  border: 2px solid #ff3b3b;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-know:hover {
  -webkit-box-shadow: 0 0 20px 0 #f7b0b0;
          box-shadow: 0 0 20px 0 #f7b0b0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.button-know:hover::after {
  opacity: 1;
}

.know__exemp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 609px;
  height: auto;
}

ion-icon {
  color: #ff3b3b;
}

.know__exemp-title {
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600px;
}

.Management, .UIUXDesign, .LogoBranding, .Animation {
  width: 250px;
  height: 211px;
}

.Management, .UIUXDesign {
  margin-bottom: 55px;
}

.Management, .LogoBranding {
  margin-right: 35px;
}

.know__exemp-txt {
  font-size: 16px;
  color: #4c4c4c;
}

.products-inf {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__title {
  text-transform: uppercase;
  margin-top: 111px;
  margin-left: 428px;
  font-weight: bold;
  font-size: 42px;
}

.products__txt {
  margin-top: 35px;
  margin-left: 400px;
  font-size: 16px;
  color: #4c4c4c;
  width: 467px;
  text-align: center;
}

.poducts__border {
  border-bottom: 2px solid #ff3b3b;
  width: 140px;
  margin-left: 565px;
  margin-top: 30px;
}

.products__scrol {
  margin-top: 90px;
  margin-left: 198px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.href-scrol {
  margin-left: 50px;
  color: #4c4c4c;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.href-scrol:first-child {
  margin-left: 0;
}
.href-scrol:last-child {
  margin-right: 0;
}
.href-scrol:hover {
  color: #ff3b3b;
}

.products__exe {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 20px;
}

.products__exe-sq, .products__exe-sq1 {
  width: 300px;
  height: 290px;
  background-color: #f5f0dd;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.products__exe-sq:hover, .products__exe-sq1:hover {
  -webkit-box-shadow: 0 0 20px 0 #ff2d2d;
          box-shadow: 0 0 20px 0 #ff2d2d;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.products__exe-sq:hover::after, .products__exe-sq1:hover::after {
  opacity: 1;
}

.products__exe-sq1 {
  margin-top: 20px;
}

.our-teem {
  width: 428px;
}

.our-teem__title {
  text-transform: uppercase;
  margin-top: 140px;
  font-weight: bold;
  font-size: 42px;
}

.our-teem__txt {
  margin-top: 50px;
  font-size: 16px;
  color: #4c4c4c;
  margin-bottom: 65px;
}

.our-teem__border {
  margin-left: 3px;
  width: 132px;
  border-bottom: 2px solid #ff2d2d;
}

.person {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.person__main-phot {
  width: 322px;
  height: 458px;
  background-color: #f5f0dd;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}
.person__main-phot:hover {
  -webkit-box-shadow: 0 0 20px 0 #ff2d2d;
          box-shadow: 0 0 20px 0 #ff2d2d;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.person__main-phot:hover::after {
  opacity: 1;
}

.person__main {
  margin-left: 75px;
}

.person__main-title {
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.person__main-txt {
  font-size: 16px;
  color: #4c4c4c;
  margin-right: 230px;
  margin-bottom: 50px;
}

.person__main-social {
  margin-bottom: 70px;
  font-weight: 300;
  font-size: 16px;
  color: #4c4c4c;
  font-style: italic;
}

.sotial {
  margin-right: 44px;
  color: #4c4c4c;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.sotial:hover {
  color: #ff2d2d;
}
.sotial:last-child {
  margin-right: 0;
}

.person__main-otherphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.otherphoto {
  width: 199px;
  height: 219px;
  background-color: #f5f0dd;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.otherphoto:hover {
  -webkit-box-shadow: 0 0 20px 0 #ff2d2d;
          box-shadow: 0 0 20px 0 #ff2d2d;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.otherphoto:hover::after {
  opacity: 1;
}
.otherphoto:last-child {
  margin-right: 20px;
}

.email-spam {
  background-color: #f5f0dd;
  margin-top: 111px;
}

.email-spam-title {
  margin-top: 140px;
  font-size: 42px;
  font-weight: 600;
  color: #fdfcf8;
  margin-bottom: 45px;
  text-align: center;
}

.email-spam-txt {
  font-size: 16px;
  color: #fdfcf8;
  text-align: center;
  margin-bottom: 67px;
}

.email-spam__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 248px;
}

.email-spam__form {
  margin-bottom: 140px;
}

.email-spam__input {
  width: 522px;
  height: 80px;
  font-size: 16px;
  padding-left: 35px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.email-spam__input:hover {
  -webkit-box-shadow: 0 0 20px 0 #f7b0b0;
          box-shadow: 0 0 20px 0 #f7b0b0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border: 4px #f6f2f2;
}
.email-spam__input:hover::after {
  opacity: 1;
}

.button-email {
  text-transform: uppercase;
  margin-left: 20px;
  padding: 0 58px;
  height: 80px;
  font-weight: 600;
  background: #ff2d2d;
  color: #ececee;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-email:hover {
  -webkit-box-shadow: 0 0 20px 0 #f7b0b0;
          box-shadow: 0 0 20px 0 #f7b0b0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border: 4px #f6f2f2;
}
.button-email:hover::after {
  opacity: 1;
}

.get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get__main {
  width: 100%;
  max-width: 732px;
}

.get__title {
  margin-top: 110px;
  font-size: 42px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.get__txt {
  font-size: 16px;
  color: #4c4c4c;
}

.get__border {
  margin-top: 60px;
  width: 130px;
  border-bottom: 2px solid #ff2d2d;
}

.get__form {
  margin-top: 75px;
}

.get__form-name, .get__form-emal, .get__form-sms {
  background-color: #e5e5e5;
  color: #444444;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.get__form-name:hover, .get__form-emal:hover, .get__form-sms:hover {
  -webkit-box-shadow: 0 0 20px 0 #f7b0b0;
          box-shadow: 0 0 20px 0 #f7b0b0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border: 4px #f6f2f2;
}
.get__form-name:hover::after, .get__form-emal:hover::after, .get__form-sms:hover::after {
  opacity: 1;
}

.get__form-name, .get__form-emal {
  width: 338px;
  height: 80px;
  padding-left: 52px;
  border-radius: 5px;
}

.get__form-emal {
  margin-left: 50px;
}

.get__form-sms {
  width: 100%;
  height: 250px;
  padding-left: 50px;
  margin-top: 50px;
  border-radius: 5px;
}

.get-button {
  text-transform: uppercase;
  margin-top: 45px;
  width: 100%;
  font-weight: 600;
  background: #ff2d2d;
  color: #ececee;
  padding: 30px 0;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.get-button:hover {
  -webkit-box-shadow: 0 0 20px 0 #f7b0b0;
          box-shadow: 0 0 20px 0 #f7b0b0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border: 4px #f6f2f2;
}
.get-button:hover::after {
  opacity: 1;
}

.contact-inf {
  margin-top: 388px;
  width: 572px;
  height: 478px;
  background-color: #2d2d2d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 80px;
  padding-top: 140px;
  color: #d5d5d5;
}

.contact-info {
  font-size: 18px;
  width: 600px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.adress, .inf-email {
  margin-bottom: 36px;
}

.footer {
  padding-top: 10px;
  text-align: center;
  margin-top: 110px;
  background-color: #2d2d2d;
  width: 100%;
  height: 80px;
}
.footer a {
  margin-left: 50px;
}
.footer a:first-child {
  margin-left: 0;
}